<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Создание и сопровождение инвестиционного портфеля"}  %}
	</head>
	<body>
        {% include "../block/common/navbar/navbar.twig" with {
            prefix:"navbar__", 
            link:page.index,
            nav: [
                {
                    "name":"Кто мы", 
                    "link": block.about, 
                    attr:''
                },
                {
                    "name":"Наши услуги", 
                    "link": block.services, 
                    attr:''
                },
                {
                    "name":"Порядок работы", 
                    "link": block.step, 
                    attr:''
                },
                {
                    "name":"Вопрос-ответ", 
                    "link": block.faq, 
                    attr:''
                },
            ],
        } %}
        
        <main class="{{prefix.section}}wrap">
            {% include "../block/page/page.twig" with {
                page:"services_card", 
                prefix:prefix.section, 
                mod:"is--page-services-card",
                
                bg: [path.img,"/default/page-default-bg.png"].join(""),

                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--h1  ff--custom  is--line-bottom", 
                heading_level:"h1", 
                heading:"Создание и сопровождение инвестиционного портфеля",
                preview: [path.img,"/default/services-item1-full.jpg"].join(""),
                note:'<h5>Формирование инвестиционного портфеля</h5>
                <p>Изучение рынка, его специфики и&nbsp;динамики требует довольно много времени. Мы&nbsp;накопили знания и&nbsp;опыт, которые помогут создать для вас хорошо структурированный инвестиционный портфель.</p>
                <p>В&nbsp;ходе консультации мы&nbsp;определим ваши цели, инвестиционные предпочтения, склонность к&nbsp;риску, и&nbsp;будем использовать эту информацию для создания вашего уникального портфеля. Далее мы&nbsp;поможем в&nbsp;выборе брокера, открытии счетов, проконсультируем по&nbsp;работе торговых приложений.</p>
                <p>Наша задача&nbsp;— не&nbsp;только совместно сформировать инвестиционный портфель на&nbsp;вашем брокерском счете, но&nbsp;и&nbsp;снабдить вас стратегией (алгоритмом) действий на&nbsp;ближайший год. При этом стратегия будет учитывать несколько вариантов развития событий на&nbsp;рынке.</p>
                <p><b>Стоимость услуги по&nbsp;формированию портфеля&nbsp;— от&nbsp;20&nbsp;000&nbsp;₽.</b> Цена зависит от&nbsp;объема портфеля и&nbsp;от&nbsp;того, насколько разнообразные он&nbsp;будет содержать инструменты. Точную стоимость мы&nbsp;сообщим после первой бесплатной консультации.</p>
                <p>Если у&nbsp;вас нет времени, желания или опыта управлять своим инвестиционным портфелем, вы&nbsp;можете воспользоваться нашей услугой полного сопровождения. Мы&nbsp;будем помогать на&nbsp;всех этапах: от&nbsp;определения целей и&nbsp;толерантности к&nbsp;риску до&nbsp;непосредственно инвестирования, составления индивидуальных стратегий и&nbsp;налогового сопровождения.</p>
                <p>Раз в&nbsp;квартал мы&nbsp;составляем по&nbsp;вашему портфелю небольшой отчёт: его доходность, какие инструменты были драйверами роста, а&nbsp;какие показали себя недостаточно хорошо. На&nbsp;основе этой информации мы&nbsp;даем рекомендации, например, по&nbsp;изменению долей тех или иных инструментов или добавлению новых.</p>
                <p>В&nbsp;этот пакет входит неограниченное количество консультаций. Подход к&nbsp;каждому клиенту или семье индивидуален. Бонусом формируем необходимые документы <nobr>(2-3 НДФЛ),</nobr> а&nbsp;также помогаем с&nbsp;оптимизацией налогов.</p>
                <h6>Комиссия за&nbsp;управление инвестициями рассчитывается как годовой процент от&nbsp;активов:</h6>
                <ul> 
                    <li>От&nbsp;6&nbsp;млн до&nbsp;15&nbsp;млн ₽&nbsp;— 1,5% в&nbsp;год.</li>
                    <li>От&nbsp;16&nbsp;млн до&nbsp;30&nbsp;млн ₽&nbsp;— 1,2% в&nbsp;год.</li>
                    <li>От&nbsp;30&nbsp;млн до&nbsp;100 млн ₽&nbsp;— 1%&nbsp;в&nbsp;год.</li>
                    <li>Свыше 100 млн ₽&nbsp;— 0,8% в&nbsp;год.</li>
                 </ul>
                <p>В&nbsp;случае перевыполнения инвестиционного плана дополнительно выплачивается «комиссия за&nbsp;успех»&nbsp;— 10% от&nbsp;дохода за&nbsp;год.</p>
                <p>Мы&nbsp;работаем с&nbsp;портфелями объемом от&nbsp;6&nbsp;млн&nbsp;₽. Для сопровождения портфеля с&nbsp;меньшими активами советуем воспользоваться услугами Формирование инвестиционного портфеля или Аудит инвестиционного портфеля.</p>
                ',
            } %} 

            {% include "../block/common/form/form.twig" with {
                view:           'base', 
                prefix:         "form__",
                ID:             'f_base',
                mod:            'is--form-base', 
                color:          '', 

                bg: [path.img,"/default/form-bg.png"].join(""),

                heading_group:  "", 
                heading_attr:   "",
                heading_mod:    "is--block-form  ff--custom  color--white", 
                heading_level:  "h2", 
                heading:        "Задайте свои вопросы на&nbsp;Online встрече",
                note_group:  "", 
                note_attr:   "",
                note_mod:    "is--block-form-note  is--h5  color--white", 
                note_level:  "p", 
                note:        "Запишитесь на online встречу, отправив свои: имя, номер телефона и E-mail",
                agreement_group:  "", 
                agreement_attr:   "",
                agreement_mod:    "is--block-form-agreement  color--white", 
                agreement_level:  "p", 
                agreement:        ['Отправляя свои данные, вы даете согласие <a href="',contacts.agreement,'" target="_blank">на обработку персональных данных</a>'].join(""),
            } %}           
        </main>

        {% include "../block/common/footer/footer.twig" with {
            prefix:"footer__",
            link:page.index,
            nav: [
                {
                    "name":"Кто мы", 
                    "link": block.about, 
                    attr:''
                },
                {
                    "name":"Наши услуги", 
                    "link": block.services, 
                    attr:''
                },
                {
                    "name":"Порядок работы", 
                    "link": block.step, 
                    attr:''
                },
                {
                    "name":"Вопрос-ответ", 
                    "link": block.faq, 
                    attr:''
                },
            ],
        } %}

        {% include "../block/common/modals/include.twig"%}
    	{% include "../block/common/script/script.twig"%}
	</body>
</html>