<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Персональный финансовый план"}  %}
	</head>
	<body>
        {% include "../block/common/navbar/navbar.twig" with {
            prefix:"navbar__", 
            link:page.index,
            nav: [
                {
                    "name":"Кто мы", 
                    "link": block.about, 
                    attr:''
                },
                {
                    "name":"Наши услуги", 
                    "link": block.services, 
                    attr:''
                },
                {
                    "name":"Порядок работы", 
                    "link": block.step, 
                    attr:''
                },
                {
                    "name":"Вопрос-ответ", 
                    "link": block.faq, 
                    attr:''
                },
            ],
        } %}
        
        <main class="{{prefix.section}}wrap">
            {% include "../block/page/page.twig" with {
                page:"services_card", 
                prefix:prefix.section, 
                mod:"is--page-services-card",
                
                bg: [path.img,"/default/page-default-bg.png"].join(""),

                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--h1  ff--custom  is--line-bottom", 
                heading_level:"h1", 
                heading:"Персональный финансовый план",
                preview: [path.img,"/default/services-item1-full.jpg"].join(""),
                note:'
                    <h5>«Финансовый план&nbsp;— основа всех целей»</h5>
                    <p>Персональный финансовый план&nbsp;— это очень важный инструмент: он&nbsp;отражает доходы и&nbsp;расходы, активы и&nbsp;пассивы, долгосрочные и&nbsp;краткосрочные финансовые цели, а&nbsp;также информацию о&nbsp;тех инвестиционных продуктах, с&nbsp;помощью которых эти цели будут достигаться. </p>
                    <p>Задача финансового планирования&nbsp;— сделать так, чтобы с&nbsp;помощью имеющихся доходов достичь существенно больших материальных результатов, а&nbsp;также эти доходы увеличить с&nbsp;помощью действенных финансовых инструментов.</p>
                    <p>Грамотное составление финансового плана позволяет выявить будущие финансовые трудности и&nbsp;найти способы избежать&nbsp;их.</p>
                    <p>Чтобы ответить на&nbsp;вопрос&nbsp;— куда вложить деньги, чтобы было надежно и&nbsp;доходно&nbsp;— необходим профессионально составленный персональный финансовый план.</p>
                ',
            } %} 

            {% include "../block/common/form/form.twig" with {
                view:           'base', 
                prefix:         "form__",
                ID:             'f_base',
                mod:            'is--form-base', 
                color:          '', 

                bg: [path.img,"/default/form-bg.png"].join(""),

                heading_group:  "", 
                heading_attr:   "",
                heading_mod:    "is--block-form  ff--custom  color--white", 
                heading_level:  "h2", 
                heading:        "Задайте свои вопросы на&nbsp;Online встрече",
                note_group:  "", 
                note_attr:   "",
                note_mod:    "is--block-form-note  is--h5  color--white", 
                note_level:  "p", 
                note:        "Запишитесь на online встречу, отправив свои: имя, номер телефона и E-mail",
                agreement_group:  "", 
                agreement_attr:   "",
                agreement_mod:    "is--block-form-agreement  color--white", 
                agreement_level:  "p", 
                agreement:        ['Отправляя свои данные, вы даете согласие <a href="',contacts.agreement,'" target="_blank">на обработку персональных данных</a>'].join(""),
            } %}           
        </main>

        {% include "../block/common/footer/footer.twig" with {
            prefix:"footer__",
            link:page.index,
            nav: [
                {
                    "name":"Кто мы", 
                    "link": block.about, 
                    attr:''
                },
                {
                    "name":"Наши услуги", 
                    "link": block.services, 
                    attr:''
                },
                {
                    "name":"Порядок работы", 
                    "link": block.step, 
                    attr:''
                },
                {
                    "name":"Вопрос-ответ", 
                    "link": block.faq, 
                    attr:''
                },
            ],
        } %}

        {% include "../block/common/modals/include.twig"%}
    	{% include "../block/common/script/script.twig"%}
	</body>
</html>