<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
	<head>	
    	{% include "../block/common/head/head.twig" with {title:"Создание и сопровождение инвестиционного портфеля"}  %}
	</head>
	<body>
        {% include "../block/common/navbar/navbar.twig" with {
            prefix:"navbar__", 
            link:page.index,
            logotip:"svg",
            nav: [
                {
                    "name":"Кто мы", 
                    "link": block.about, 
                    attr:''
                },
                {
                    "name":"Наши услуги", 
                    "link": block.services, 
                    attr:''
                },
                {
                    "name":"Порядок работы", 
                    "link": block.step, 
                    attr:''
                },
                {
                    "name":"Вопрос-ответ", 
                    "link": block.faq, 
                    attr:''
                },
            ],
        } %}
        
        <main class="{{prefix.section}}wrap">
            {% include "../block/page/page.twig" with {
                page:"services_card", 
                prefix:prefix.section, 
                mod:"is--page-services-card",
                
                bg: [path.img,"/default/page-default-bg.png"].join(""),

                heading_group:"", 
                heading_attr:"",
                heading_mod:"is--h1  ff--custom  is--line-bottom", 
                heading_level:"h1", 
                heading:"Создание и сопровождение инвестиционного портфеля",
                preview: [path.img,"/default/services-item2-full.jpg"].join(""),
                note:'
                    <h5>Формирование инвестиционного портфеля</h5>
                    <p>Вы&nbsp;дорожите своим временем. Каждая минута у&nbsp;вас на&nbsp;счету. При этом вы&nbsp;желаете сформировать оптимальный инвестиционный портфель, который&nbsp;бы отражал ваши финансовые планы и&nbsp;пути их&nbsp;достижения. На&nbsp;самостоятельную работу над ним необходимы большие временные затраты.</p>
                    <p>Мы&nbsp;сформируем вам практически идеальный инвестиционный портфель, используя наши знания и&nbsp;опыт на&nbsp;финансовом рынке, сэкономив ваше бесценное время.</p>
                    <p>Так, мы&nbsp;определим Ваш инвестиционный профиль&nbsp;— цели и&nbsp;сроки инвестирования, ожидаемую доходность, ваше отношение к&nbsp;риску. Вместе с&nbsp;вами выберем брокера, откроем счет и&nbsp;объясним принципы работы торговых площадок. Мы&nbsp;предложим вам стратегии действий на&nbsp;рынке для достижения ваших целей.</p>
                    <p>Помимо этого, мы&nbsp;будем сопровождать ваш портфель, не&nbsp;покидая вас в&nbsp;сложном мире фондового рынка.</p>
                    <p>Анализ финансовых рынков, поиск новых идей и&nbsp;полное сопровождение текущих инвестиционных идей, консультации онлайн, экспертное мнение относительно Ваших собственных инвестиционных разработок. так&nbsp;же входит в&nbsp;сопровождение </p>
                    <p>Периодически мы&nbsp;предоставляем вам отчет о&nbsp;вашем инвестиционном портфеле&nbsp;— текущая доходность портфеля, с&nbsp;помощью каких финансовых инструментов она достигнута, какие инструменты не&nbsp;приносят дохода и&nbsp;рекомендации по&nbsp;корректировке составных частей вашего портфеля.</p>
                    <p>Мы&nbsp;гарантируем индивидуальный подход к&nbsp;каждому клиенту.</p>
                ',
            } %} 

            {% include "../block/common/form/form.twig" with {
                view:           'base', 
                prefix:         "form__",
                ID:             'f_base',
                mod:            'is--form-base', 
                color:          '', 

                bg: [path.img,"/default/form-bg.png"].join(""),

                heading_group:  "", 
                heading_attr:   "",
                heading_mod:    "is--block-form  ff--custom  color--white", 
                heading_level:  "h2", 
                heading:        "Задайте свои вопросы на&nbsp;Online встрече",
                note_group:  "", 
                note_attr:   "",
                note_mod:    "is--block-form-note  is--h5  color--white", 
                note_level:  "p", 
                note:        "Запишитесь на online встречу, отправив свои: имя, номер телефона и E-mail",
                agreement_group:  "", 
                agreement_attr:   "",
                agreement_mod:    "is--block-form-agreement  color--white", 
                agreement_level:  "p", 
                agreement:        ['Отправляя свои данные, вы даете согласие <a href="',contacts.agreement,'" target="_blank">на обработку персональных данных</a>'].join(""),
            } %}           
        </main>

        {% include "../block/common/footer/footer.twig" with {
            prefix:"footer__",
            link:page.index,
            logotip:"svg",
            nav: [
                {
                    "name":"Кто мы", 
                    "link": block.about, 
                    attr:''
                },
                {
                    "name":"Наши услуги", 
                    "link": block.services, 
                    attr:''
                },
                {
                    "name":"Порядок работы", 
                    "link": block.step, 
                    attr:''
                },
                {
                    "name":"Вопрос-ответ", 
                    "link": block.faq, 
                    attr:''
                },
            ],
        } %}

        {% include "../block/common/modals/include.twig"%}
    	{% include "../block/common/script/script.twig"%}
	</body>
</html>