.docs__{
	&card{
		display: flex;
		align-items: center;
		color: @info;
		.heading6();
		font-weight: 700;
		transition: @trs-site;	
	}
	&icon{
		display: block;
		min-width: 32px;
		width: 32px;
		height: 32px;
		margin-right: 10px;
		.media-breakpoint-up(@xl; {
			min-width: 80px;
			width: 80px;
			height: 80px;	
			margin-right: 25px;		
		});
		svg{
			display: block;
		}
	}
}