{% include "tpl.twig" with {
	view: 			"form",
	prefix: 		"modal__", 
	mod: 			"", 
	ID: 			"modal-form",
	form_id: 		"fm_base",
	heading_attr: 	'data-modal-heading',
	heading: 		'',
	heading_level: 	'h2',
	heading_mod: 	'is--h1  is--modal',
	form_view: 		"modal",
	agreement_group:  "", 
    agreement_attr:   "",
    agreement_mod:    "is--modal-agreement  color--white", 
    agreement_level:  "p", 
    agreement:        ['Отправляя свои данные, вы даете согласие <a href="',contacts.agreement,'" target="_blank">на обработку персональных данных</a>'].join(""),
} %} 
{% include "tpl.twig" with {
	view: 			"form",
	prefix: 		"modal__", 
	mod: 			"", 
	ID: 			"modal-form-note",
	form_id: 		"fm_basen",
	heading_attr: 	'data-modal-heading',
	heading: 		'',
	heading_level: 	'h2',
	heading_mod: 	'is--h1  is--modal',
	form_view: 		"modal_note",
	agreement_group:  "", 
    agreement_attr:   "",
    agreement_mod:    "is--modal-agreement  color--white", 
    agreement_level:  "p", 
    agreement:        ['Отправляя свои данные, вы даете согласие <a href="',contacts.agreement,'" target="_blank">на обработку персональных данных</a>'].join(""),
} %} 
{% include "tpl.twig" with {
	view: 			"form",
	prefix: 		"modal__", 
	mod: 			"", 
	ID: 			"modal-message",
	heading_attr: 	'data-modal-heading',
	heading: 		'Сообщение успешно отправлено',
	heading_level: 	'h2',
	heading_mod: 	'is--h2  is--modal',
	note_level: 	'p',
	note_mod: 		'color--white',
	note: 			'Мы свяжимся с Вами в ближайшее время.',
} %} 